@model WebUI.Models.FlightSearchDataModel

@{
    ViewBag.Title = "Search Filghts";
}




    <div class="container">

        <h2 class="bottom-10 text-center">Search Flights</h2>

        <div class="row bottom-10">
            @* Cheapest prices on similar dates. *@
            <div class="col-sm-12 text-center">
                @if (Model.CheapestPricesOnSimilarDates != null)
                {
                    //using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-group" }))
                    //{
                        <div id="cheapestFlightsOnSimilarDates" class="btn-group">
                            @foreach (var item in Model.CheapestPricesOnSimilarDates)
                            {
                                @Html.Partial("CheapestFlightsOnSimilarDatesPartial", item);
                            }
                        </div>
                    //}
                }
            </div>
        </div>
        <div class="row">
            @* Search filter box. *@
            <div class="col-sm-3">

                @Html.Partial("SearchFilterPartial", Model)

            </div>

            @* Search results and continue to booking. *@
            <div class="col-sm-9">
                @using (Html.BeginForm("SelectedFlights", "Booking"))
                {
                // Render outbound flights if there are any. 
                if (Model.OutboundFlights != null)
                {
                    <h3>Outbound Flights</h3>
                    <hr />

                    if (Model.OutboundFlights.Count == 0)
                    {
                        <p>No flights found.</p>
                    }
                    else
                    {
                        <div id="outboundFlightsGroup" class="btn-group-vertical btn-group-lg btn-block" role="group">
                            @foreach (var flight in Model.OutboundFlights)
                            {
                                @Html.Partial("FlightDetailsPartial", flight, new ViewDataDictionary(this.ViewData) { { "type", "outbound" } })
                            }
                        </div>
                    }
                }

                // Render inbound flights if there are any. 
                if (Model.InboundFlights != null)
                {
                    <h3>Inbound Flights</h3>
                    <hr />

                    if (Model.InboundFlights.Count == 0)
                    {
                        <p>No flights found.</p>
                    }
                    else
                    {
                        <div id="inboundFlightsGroup" class="btn-group-vertical btn-group-lg btn-block" role="group">
                            @foreach (var flight in Model.InboundFlights)
                            {
                                @Html.Partial("FlightDetailsPartial", flight, new ViewDataDictionary(this.ViewData) { { "type", "inbound" } })
                            }
                        </div>
                    }
                }

                // No origin/destination has been selected. 
                if ((Model.InboundFlights is null) && (Model.OutboundFlights is null))
                {
                    <p class="text-center">
                        Please select an origin and destination.
                    </p>
                }

                <hr />
                <button id="continue-button" type="submit" class="btn btn-lg btn-default" disabled>
                    Continue
                </button>
                }
            </div>
        </div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function flightSelected() {
            outboundSelected = $("input[name='outboundRadioGroup']:checked").val()

            if (outboundSelected == null) {
                return false;
            } else {
                document.getElementById("continue-button").disabled = false;
            }
        }
    </script>
}
