@model WebUI.Models.FlightSearchDataModel

<script src="~/Scripts/jquery-3.3.1.js"></script>

@using (Html.BeginForm("Index", "Search", FormMethod.Post))
{
<div class="form-horizontal">
    @*Error summary.*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.DropDownListFor(m => m.SelectedOriginAirportId, Model.Airports, "- Select an origin -", new { @class = "form-control selectpicker" })
        @Html.ValidationMessageFor(m => m.SelectedOriginAirportId, "", new { @class = "text-danger" })
    </div>

    <div class="text-center form-group">
        <span class="glyphicon glyphicon-arrow-down"></span>
    </div>

    <div class="form-group">
        @Html.DropDownListFor(m => m.SelectedDestinationAirportId, Model.Airports, "- Select an destination -", new { @class = "form-control selectpicker" })
        @Html.ValidationMessageFor(m => m.SelectedDestinationAirportId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.EditorFor(m => m.OutboundDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.OutboundDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.RadioButtonFor(m => m.ReturnFlight, "false", new { @id = "one-way-flight-radio", @onClick = "hideReturnDiv()" })
        @Html.Label("One-way", new { @for = "one-way-flight-radio" })

        @Html.RadioButtonFor(m => m.ReturnFlight, "true", new { @id = "return-flight-radio", @onClick = "showReturnDiv()" })
        @Html.Label("Return", new { @for = "return-flight-radio" })

        @Html.ValidationMessageFor(m => m.ReturnFlight, "", new { @class = "text-danger" })
    </div>

    <div id="return-flight-option">
        <div class="form-group">
            @Html.EditorFor(m => m.InboundDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.InboundDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="input-group form-group">
        <span class="input-group-addon">Adults</span>
        @Html.EditorFor(m => m.NumberAdults, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.NumberAdults, "", new { @class = "text-danger" })
    </div>

    <div class="input-group form-group">
        <span class="input-group-addon">Children</span>
        @Html.EditorFor(m => m.NumberChildren, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.NumberChildren, "", new { @class = "text-danger" })
    </div>


    @*Submit*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
</div>

}
